@model WebSoccer.ViewModel.ListaPaginada<WebSoccer.Models.Team>

@{
    ViewBag.Title = "Cadastro de times";
}

@Html.Partial("_ViewSession")

<h2>Cadastro de times</h2>
<h4>Limite de 2 times</h4>

<p>
    
    @if (Model.Itens.Count < 2 )
    {
        @Html.ActionLink("Criar novo time", "CreateTeam", new { }, new { @class = "btn btn-default" })
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nome do time")
        </th>
    </tr>


    @if (Model.TotalItens > 0)
    {

        var count = 0;
        var corfundo = "#EAEAEA";
        foreach (var item in Model.Itens)
        {

            <tr bgcolor="@corfundo" onclick="window.open('../Team/Edit/@item.Id_team','_self')" onMouseOver="this.bgColor='#CCCCCC'" onMouseOut="this.bgColor='@corfundo'" cursor="Auto">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
            count++;
            if (@corfundo == "#FFFFFF")
            { corfundo = "#EAEAEA"; }
            else
            { corfundo = "#FFFFFF"; }

        }
    }

</table>


@if (Model.TotalPaginas > 1)
{
    <div>
        @for (var i = 1; i < Model.TotalPaginas; i++)
        {
            Url.Action("Index", new { page = i });
        }
    </div>
}


<div class="container">
    <table>
        <tr>
            <td style="width:50px">
                @if (Model.PaginaAtual > 1)
            {
                    <p>  @Html.ActionLink("<<", "Index", new { page = Model.PaginaAtual - 1 }, new { @class = "btn btn-default" })  </p>

                }

            </td>
            <td style="width:100px">
                <p>P&aacute;gina @Model.PaginaAtual de @Model.TotalPaginas</p>
            </td>
            <td style="width:50px">
                @if (Model.PaginaAtual < Model.TotalPaginas)
                {
                    <p>  @Html.ActionLink(">>", "Index", new { page = Model.PaginaAtual + 1 }, new { @class = "btn btn-default" })  </p>

                }

            </td>
        </tr>
    </table>
</div>
