@model WebSoccer.ViewModel.ListaPaginada<WebSoccer.Models.Selection>

@{
    ViewBag.Title = "Cadastro de seleções";
}

<h2>Cadastro de seleções</h2>
<h4>Limite de 2 seleções</h4>

@Html.Partial("_ViewSession")

<p>
    @Html.ActionLink("Limpar todas as posições", "ClearAll", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Sortear posições", "DrawPositions", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Enviar email sobre as seleções aos jogadores", "InfoPositions", new { } , new { @class = "btn btn-default" })
</p>

<table class="table">
    <tr>

        <th>
            @Html.DisplayName("Time")
        </th>
        <th>
            @Html.DisplayName("Posição")
        </th>
        <th>
            @Html.DisplayName("Jogador")
        </th>
        
        <th></th>
    </tr>


    @if (Model.TotalItens > 0)
    {

        var count = 0;
        var corfundo = "#EAEAEA";
        foreach (var item in Model.Itens)
        {

           <tr bgcolor="@corfundo" onclick="window.open('../Selection/Edit/@item.Id_selection','_self')" onMouseOver="this.bgColor='#CCCCCC'" onMouseOut="this.bgColor='@corfundo'" cursor="Auto">

                <td>
                    @Html.DisplayFor(modelItem => item.Team.Name)
                </td>
               <td>
                    @Html.DisplayFor(modelItem => item.Positions.Name)
                </td>
               <td>
                   @Html.DisplayFor(modelItem => item.Players.Name)
               </td>
            </tr>
            count++;
            if (@corfundo == "#FFFFFF")
            { corfundo = "#EAEAEA"; }
            else
            { corfundo = "#FFFFFF"; }

        }
    }

</table>


@if (Model.TotalPaginas > 1)
{
    <div>
        @for (var i = 1; i < Model.TotalPaginas; i++)
        {
            Url.Action("Index", new { page = i });
        }
    </div>
}


<div class="container">
    <table>
        <tr>
            <td style="width:50px">
                @if (Model.PaginaAtual > 1)
            {
                    <p>  @Html.ActionLink("<<", "Index", new { page = Model.PaginaAtual - 1 }, new { @class = "btn btn-default" })  </p>

                }

            </td>
            <td style="width:100px">
                <p>P&aacute;gina @Model.PaginaAtual de @Model.TotalPaginas</p>
            </td>
            <td style="width:50px">
                @if (Model.PaginaAtual < Model.TotalPaginas)
                {
                    <p>  @Html.ActionLink(">>", "Index", new { page = Model.PaginaAtual + 1 }, new { @class = "btn btn-default" })  </p>

                }

            </td>
        </tr>
    </table>
</div>
