@model WebSoccer.Models.Users

@{
    ViewBag.Title = "Login";
}

<div class="form-horizontal">
    <h2>Customer Relationship Management - CRM</h2>
	<h3>stefanini test</h2>
    <br>
        @using (Html.BeginForm("ValidaLogin", "Default"))
        {
        
        <table class="table" align="center">
            <tr>
                <td align="right">
                    @Html.Label("Email:")
                </td>
                <td>
                    @Html.TextBox("email","",new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td  align="right">
                    @Html.Label("Senha:")
               </td>
                <td>
                    @Html.Password("password","",new {@class = "form-control" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" class ="btn btn-default"/>
                    @Html.ActionLink("Novo cadastro", "Cadastro", "Default", new { }, new { @class = "btn btn-default" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ActionLink("Recuperar senha", "Recover")
                </td>
            </tr>


            @*<tr>
                <td></td>
                <td>
                   <a href="@ViewBag.FbUrl" class="btn btn-primary btn-lg">Login Facebook</a> 
                </td>
            </tr>*@
            <tr>
                <td></td>
                <td>
                    
                    <b style="color:red">@Html.ValidationSummary()</b>
                    
                    @{ if (ViewBag.status == "1")
                       {
                        <b style="color:red">O e-mail e/ou a senha digitada é inválida. Por favor, tente novamente. </b>
                        }

                        if (ViewBag.status == "2")
                        {
                            <b style="color:red">Tempo de sessão finalizada.</b>
                        }
                    }
                </td>
            </tr>
        </table>
        }

</div>